<a href="https://colab.research.google.com/github/grgfatta86/Exercise/blob/main/application_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import pandas as pd

In [18]:
df=pd.read_csv('/content/application_data.csv', index_col='SK_ID_CURR', parse_dates=True)

In [19]:
df

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
358611,0,Cash loans,M,Y,Y,0,218250.0,269550.0,19300.5,225000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
358612,0,Cash loans,M,Y,Y,0,585000.0,312678.0,28809.0,261000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,7.0
358613,0,Cash loans,F,N,N,0,90000.0,364896.0,18760.5,315000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
358614,0,Cash loans,M,Y,N,0,180000.0,178290.0,19048.5,157500.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0
358615,0,Cash loans,F,N,Y,0,360000.0,573408.0,27585.0,495000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
df.columns

Index(['TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR',
       'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT',
       'AMT_ANNUITY', 'AMT_GOODS_PRICE',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=121)

In [21]:
categorical_vars = df.select_dtypes(include=['object', 'category'])
print(categorical_vars)

           NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR FLAG_OWN_REALTY  \
SK_ID_CURR
100002             Cash loans           M            N               Y
100003             Cash loans           F            N               N
100004        Revolving loans           M            Y               Y
100006             Cash loans           F            N               Y
100007             Cash loans           M            N               Y
...                       ...         ...          ...             ...
358611             Cash loans           M            Y               Y
358612             Cash loans           M            Y               Y
358613             Cash loans           F            N               N
358614             Cash loans           M            Y               N
358615             Cash loans           F            N               Y

           NAME_TYPE_SUITE NAME_INCOME_TYPE            NAME_EDUCATION_TYPE  \
SK_ID_CURR
100002       Unaccompanied          Working  Secondary / secondary special
100003              Family    State servant               Higher education
100004       Unaccompanied          Working  Secondary / secondary special
100006       Unaccompanied          Working  Secondary / secondary special
100007       Unaccompanied          Working  Secondary / secondary special
...                    ...              ...                            ...
358611              Family        Pensioner  Secondary / secondary special
358612       Unaccompanied    State servant               Higher education
358613       Unaccompanied    State servant  Secondary / secondary special
358614       Unaccompanied          Working  Secondary / secondary special
358615              Family          Working  Secondary / secondary special

              NAME_FAMILY_STATUS  NAME_HOUSING_TYPE OCCUPATION_TYPE  \
SK_ID_CURR
100002      Single / not married  House / apartment        Laborers
100003                   Married  House / apartment      Core staff
100004      Single / not married  House / apartment        Laborers
100006            Civil marriage  House / apartment        Laborers
100007      Single / not married  House / apartment      Core staff
...                          ...                ...             ...
358611                   Married  House / apartment             NaN
358612                   Married  House / apartment      Core staff
358613                   Married  House / apartment      Core staff
358614                   Married  House / apartment         Drivers
358615      Single / not married  House / apartment             NaN

           WEEKDAY_APPR_PROCESS_START       ORGANIZATION_TYPE  \
SK_ID_CURR
100002                      WEDNESDAY  Business Entity Type 3
100003                         MONDAY                  School
100004                         MONDAY              Government
100006                      WEDNESDAY  Business Entity Type 3
100007                       THURSDAY                Religion
...                               ...                     ...
358611                       THURSDAY                     XNA
358612                         MONDAY                Military
358613                       SATURDAY              Government
358614                       SATURDAY  Business Entity Type 1
358615                         SUNDAY                     NaN

           FONDKAPREMONT_MODE  HOUSETYPE_MODE WALLSMATERIAL_MODE  \
SK_ID_CURR
100002       reg oper account  block of flats       Stone, brick
100003       reg oper account  block of flats              Block
100004                    NaN             NaN                NaN
100006                    NaN             NaN                NaN
100007                    NaN             NaN                NaN
...                       ...             ...                ...
358611                    NaN             NaN                NaN
358612       reg oper account  block of flats       Stone, brick
358613                    NaN             NaN                NaN
358614                    NaN             NaN                NaN
358615                    NaN             NaN                NaN

           EMERGENCYSTATE_MODE
SK_ID_CURR
100002                      No
100003                      No
100004                     NaN
100006                     NaN
100007                     NaN
...                        ...
358611                     NaN
358612                      No
358613                     NaN
358614                     NaN
358615                     NaN

[223284 rows x 16 columns]

In [22]:
df.select_dtypes(include='number')

,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,1,0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461,-637,-3648.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
100003,0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765,-1188,-1186.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100004,0,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,-225,-4260.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100006,0,0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005,-3039,-9833.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
100007,0,0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932,-3038,-4311.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
358611,0,0,218250.0,269550.0,19300.5,225000.0,0.018850,-24270,365243,-307.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
358612,0,0,585000.0,312678.0,28809.0,261000.0,0.009334,-17879,-6440,-1004.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,7.0
358613,0,0,90000.0,364896.0,18760.5,315000.0,0.019101,-19186,-5197,-11319.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
358614,0,0,180000.0,178290.0,19048.5,157500.0,0.024610,-13573,-2937,-4777.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0
358615,0,0,360000.0,573408.0,27585.0,495000.0,0.046220,-14727,-8018,-8725.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
df.select_dtypes(include='number')

,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,1,0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461,-637,-3648.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
100003,0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765,-1188,-1186.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100004,0,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,-225,-4260.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100006,0,0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005,-3039,-9833.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
100007,0,0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932,-3038,-4311.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
358611,0,0,218250.0,269550.0,19300.5,225000.0,0.018850,-24270,365243,-307.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
358612,0,0,585000.0,312678.0,28809.0,261000.0,0.009334,-17879,-6440,-1004.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,7.0
358613,0,0,90000.0,364896.0,18760.5,315000.0,0.019101,-19186,-5197,-11319.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
358614,0,0,180000.0,178290.0,19048.5,157500.0,0.024610,-13573,-2937,-4777.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0
358615,0,0,360000.0,573408.0,27585.0,495000.0,0.046220,-14727,-8018,-8725.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df.select_dtypes(exclude='number')

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,OCCUPATION_TYPE,WEEKDAY_APPR_PROCESS_START,ORGANIZATION_TYPE,FONDKAPREMONT_MODE,HOUSETYPE_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE
SK_ID_CURR,,,,,,,,,,,,,,,,
100002,Cash loans,M,N,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,Laborers,WEDNESDAY,Business Entity Type 3,reg oper account,block of flats,"Stone, brick",No
100003,Cash loans,F,N,N,Family,State servant,Higher education,Married,House / apartment,Core staff,MONDAY,School,reg oper account,block of flats,Block,No
100004,Revolving loans,M,Y,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,Laborers,MONDAY,Government,NaN,NaN,NaN,NaN
100006,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,Laborers,WEDNESDAY,Business Entity Type 3,NaN,NaN,NaN,NaN
100007,Cash loans,M,N,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,Core staff,THURSDAY,Religion,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151719,Cash loans,M,N,Y,"Spouse, partner",Working,Secondary / secondary special,Civil marriage,House / apartment,NaN,WEDNESDAY,Housing,NaN,NaN,NaN,NaN
151720,Cash loans,F,N,Y,Unaccompanied,Working,Higher education,Separated,House / apartment,NaN,TUESDAY,Self-employed,NaN,block of flats,"Stone, brick",No
151721,Cash loans,F,N,Y,Unaccompanied,Pensioner,Secondary / secondary special,Separated,House / apartment,NaN,FRIDAY,XNA,NaN,NaN,NaN,NaN
151722,Cash loans,F,Y,Y,Unaccompanied,Working,Higher education,Civil marriage,House / apartment,Core staff,WEDNESDAY,School,reg oper account,block of flats,Mixed,No
151723,Cash loans,F,N,Y,Family,Pensioner,Secondary / secondary special,Widow,House / apartment,NaN,THURSDAY,XNA,NaN,NaN,NaN,NaN

In [24]:
instances_counts = df['TARGET'].value_counts()
print(instances_counts)

0    205172
1     18112
Name: TARGET, dtype: int64

In [25]:
df.shape

(223284, 121)

In [26]:
instances_counts = df['TARGET'].value_counts()
total_instances = df.shape[0]
print(total_instances)
instances_percentages = instances_counts / total_instances * 100

print(instances_percentages)

223284
0    91.888357
1     8.111643
Name: TARGET, dtype: float64

In [27]:
unique_values=df[df.columns[:len(df)]].unique()
print(unique_values)

AttributeError: ignored

In [28]:
for column in df.columns:
    unique_values = df[column].unique()
    print(unique_values)

[1 0]
['Cash loans' 'Revolving loans']
['M' 'F' 'XNA']
['N' 'Y']
['Y' 'N']
[ 0  1  2  3  4  7  5  6  8  9 11 12 10 19 14]
[202500.    270000.     67500.    ...  56646.765 187222.5    44604.   ]
[ 406597.5 1293502.5  135000.  ... 1996456.5 1089931.5  559035. ]
[24700.5 35698.5  6750.  ...  4162.5 44523.  28809. ]
[ 351000.  1129500.   135000.   297000.   513000.   454500.  1395000.
 1530000.   913500.   405000.   652500.    67500.   697500.   679500.
  247500.   387000.   270000.   157500.   427500.   927000.   450000.
  225000.   702000.   675000.   180000.   477000.   360000.  1125000.
  553500.   540000.   855000.   238500.   598500.   252000.  1350000.
  666000.   202500.   517500.  1588500.  1080000.   810000.    90000.
  315000.   900000.  1035000.   463500.   459000.   256500.   585000.
  643500.   283500.   472500.   337500.   720000.   396000.    45000.
 1089000.   319500.  1435500.   688500.   261000.   468000.   535500.
  198000.   445500.   144000.   166500.   967500.   945000.  1755000.
 1354500.   306000.   148500.   189000.   531000.   112500.   765000.
 2250000.   909000.   630000.  1102500.   787500.   607500.    81000.
  522000.  1575000.  1215000.   369000.  1710000.  1305000.   747000.
  292500.  1201500.   774000.   324000.  1071000.   495000.   333000.
 1138500.   846000.  1800000.  1143000.  1008000.  1237500.   414000.
  904500.  1039500.   103500.   877500.   562500.   139500.   346500.
  693000.  1345500.   328500.   544500.   634500.   832500.   783000.
  243000.   922500.   117000.   229500.   382500.   936000.   130500.
 1012500.   508500.  1183500.  2182500.  1053000.   778500.   441000.
  391500.   526500.   400500.   760500.   504000.   670500.   279000.
  828000.   175500.  1219500.   409500.   490500.   657000.   868500.
  805500.  1017000.  1885500.   265500.   963000.   792000.   603000.
 1098000.  1377000.   549000.   288000.  1327500.  1282500.   558000.
   94500.        nan  972000.   990000.   184500.  1030500.  1323000.
  481500.  1260000.    76500.   436500.   162000.   576000.  1210500.
  621000.   859500.  1003500.   193500.   841500.  1984500.   886500.
  567000.   958500.   684000.  1165500.   432000.  1485000.   931500.
  171000.   153000.  1467000.   729000.  1057500.   211500.   583569.
  616500.   342000.   742500.   751500.    72000.   918000.   738000.
  486000.   355500.   373500.   310500.   823500.  1116000.  1206000.
  234000.   661500.  2254500.   301500.   639000.   274500.   864000.
 1170000.  1156500.   126000.  1093500.   814500.   121500.   364500.
  940500.  1579500.  1930500.  1453500.  1696500.  1656000.   378000.
  571500.  1341000.   850500.  1075500.   706500.   724500.   418500.
  594000.   412227.  1269000.  1705500.   423000.   715500.   589500.
 1048500.    99000.   873000.   580500.   733500.   981000.   756000.
   58500.   837000.  2160000.  1107000.  1287000.   801000.  1665000.
 1890000.  1399500.  1539000.   625500.   381411.   949500.   648000.
   54000.  1192500.   946980.  1372500.  1381500.   391009.5  207000.
  796500.  1152000.  1507500.   976500.   895500.   985500.  1440000.
 1147500.  1026000.   612000.   503266.5  220500.   499500.  1242000.
 1498500.  1359000.  2245500.  1642500.  1228500.   954000.  1845000.
 1602000.   108000.  1417500.  1314000.  1620000.  1044000.  1273500.
  999000.  1066500.   216000.   769500.  2236500.  1161000.  1062000.
  492547.5 1732500.  1570500.    63000.  1363500.    85500.  1120500.
 1561500.   994500.  1777500.  1296000.  2205000.  1386000.   323694.
 1174500.    98028.  1597500.   840258.  1476000.  1318500.  1179000.
 1552500.   891000.  1084500.   711000.  1111500.   528183.   882000.
  463279.5 1291500.    49500.  1368000.  1188000.  1606500.  1197000.
  763762.5  819000.  1264500.  1413000.   494496.  1246500.  1948500.
 1548000.  1512000.  1723500.  2925000.  1233000.  1134000.  1458000.
 1759500.  1822500.  1903500.  1309500.   508900.5 2961000.  1444500.
 2047500.  1813500.   574002.  2070000.  1332000.  2002500.  1191595.5
 1746000.   146578.5  456480.   430672.5  234342.  1489500.  2025000.
 1390500.   463171.5 1336500.  1611000.   426042.   414981.  1768500.
 1584000.  3825000.  4050000.  1854000.   796603.5 1021500.  1651500.
 1300500.  2475000.  1251000.   177444.   470511.  1278000.  1471500.
 1773000.   933300.  1638000.  1462500.  1426500.   471951.   478795.5
 1256103.  1849500.   264312.   862353.   378598.5  482530.5 1687500.
 1422000.   232690.5 2173500.  1647000.  1534500.   885429.  1669500.
 1867500.  1615500.   737784.   502893.   420390.   366516.  1185925.5
 1737000.   686763.   619150.5  442062.  1557000.  1750500.   149719.5
 1480500.   354645.  1224000.  1593000.   676278.   193959.   238531.5
 1980000.  1516500.  1449000.   155965.5 1176727.5 1795500.  1764000.
  435100.5 1439248.5  433665.  1404000.   337221.   630400.5 1521000.
 2115000.  1494000.  2043000.   300838.5  592533.   728473.5 1629000.
 1831500.   466713.  3150000.   828895.5  452565.   778783.5 2214000.
  983713.5  836154.   761836.5 1566000.  1255500.   193135.5 1259563.5
  196285.5 2007000.  1786500.  2056500.   353749.5  247941.  1818000.
 1957500.  1935000.  1894500.  2187000.  1678500.  1791000.  1728000.
  738945.   159093.   912802.5  244435.5  518485.5  567544.5  857538.
 1525500.  1144606.5  955003.5  259312.5  229126.5 1966500.   644724.
 1050097.5 2700000.  1998000.   737860.5  455548.5 1714500.   474867.
 1431000.   437476.5  504319.5  450234.   554332.5 1503000.  1939500.
  413442.   467874.   385456.5 2016000.  2038500.   241024.5 2218500.
  409986.   244863.  3600000.   577345.5 2052000.   316372.5  458806.5
  216630.  1683000.   642915.   683023.5  905287.5 2092500.    60070.5
  812983.5 1804500.  1719000.  1220022.  1633500.   186390.   827100.
  455688.  1953000.   382257.   900090.  2340000.   370219.5  887539.5
  997762.5  289539.   857655.   377167.5  676089.  1543500.   571725.
 1741500.   331245.  1782000.  1908000.  2196000.   822519.   333630.
 1273680.   843093.   785943.   527823.   325944.   848704.5  499563.
 1067553.   568867.5 2133000.   601389.   653350.5  472545.  1660500.
 2110500.  1624500.   660244.5 1123785.   521194.5  214146.   444010.5
  237208.5 1827000.   674640.   705361.5 1912500.   388660.5  268420.5
  369256.5  553999.5  316444.5  862893.   646330.5  786969.   464463.
  328648.5  378189.   308475.   161658.   367879.5  584820.   668506.5
  436801.5 1388862.   308011.5  592452.  3712500.   448546.5 1199371.5
  439479.   362632.5  433201.5  447804.   323982.   894654.  1989000.
   67392.  2106000.  1674000.   447606.  1962000.   532624.5 1993500.
  387675.   666090.  1701000.   810778.5 2223000.  1265751.   411417.
  853195.5  218232.  1199308.5  208408.5 1180273.5   59782.5  766813.5
 2137500.   581184.   546021.   296671.5 1061307.   367821.   535774.5
  269379.   584842.5 1408500.   853821.   280026.  1252863.  1481535.
  702301.5 3555000.   888061.5 1917000.   428994.   288787.5  685336.5
  635085.   599787.   970006.5  277947.   275760.   246487.5  486085.5
 2169000.   242626.5  762246.   475686.   312790.5  612238.5  415359.
  465925.5 2119500.   584995.5  627754.5  393534.  2547000.  1809000.
  476284.5  933174.   657625.5  445603.5  734976.   855175.5  808245.
  552595.5 2295000.   443421.  1639431.   694152.   844240.5 1029838.5
 2074500.   281907.   522544.5  246483.   263965.5  427468.5  388674.
  281380.5 1677942.   596488.5  545251.5  868594.5  303696.   325804.5
  455445.  2448000.   295677.   906642.   387409.5 1015519.5  404707.5
  635760.  1076436.   262804.5  874593.   635652.   828558.   285097.5
  569097.   659380.5  338598.  1307092.5  121945.5  769909.5  388746.
  483858.  1125112.5  379251.   872892.   943150.5 2272500.   349834.5
 1051632.  1692000.  1458859.5  606451.5  241704.  1064326.5 1200136.5
 2362500.   793296.   584325.   967540.5  725310.   208525.5  852574.5
  400887.   692914.5  462406.5  284985.  2114100.  1271875.5  272520.
 2200500.  1152477.   389623.5  245947.5  472720.5  356598.  1177744.5
 1921500.   303651.  1078713.   618903.   570321.   885523.5  498856.5
 2736000.   886770.   484155.  1147711.5 2232306.   843858.   683613.
  852975.   585616.5 2124000.   679981.5  885154.5 1290766.5  887949.
  446998.5  372712.5  280894.5 3375000.   675981.   933763.5  659259.
  705892.5  281853.   793057.5  379867.5  418828.5 1127628.   394038.
 1474663.5  275553.   227988.  1244515.5  234805.5  324819.  2101500.
 1840500.   330390.   682609.5  441733.5  675382.5  887314.5  507618.
  342823.5  645799.5  494208.   607671.   461367.   353641.5 1971000.
  665271.   647644.5  140287.5  654592.5  782059.5  424039.5  201928.5
  385222.5  658246.5  350068.5  295776.  1496893.5  381528.   357133.5
  321970.5  784579.5  379012.5  393799.5  350500.5  801270.   671179.5
 2011500.   568908.  2034000.   405225.  2151000.   593896.5  900243.
 1223964.   749997.  1944000.  1130125.5 1996456.5]
['Unaccompanied' 'Family' 'Spouse, partner' 'Children' 'Other_A' nan
 'Other_B' 'Group of people']
['Working' 'State servant' 'Commercial associate' 'Pensioner' 'Unemployed'
 'Student' 'Businessman' 'Maternity leave']
['Secondary / secondary special' 'Higher education' 'Incomplete higher'
 'Lower secondary' 'Academic degree']
['Single / not married' 'Married' 'Civil marriage' 'Widow' 'Separated'
 'Unknown']
['House / apartment' 'Rented apartment' 'With parents'
 'Municipal apartment' 'Office apartment' 'Co-op apartment']
[0.018801 0.003541 0.010032 0.008019 0.028663 0.035792 0.003122 0.018634
 0.019689 0.0228   0.015221 0.031329 0.016612 0.010006 0.020713 0.010966
 0.04622  0.025164 0.006296 0.026392 0.018029 0.019101 0.030755 0.008575
 0.01885  0.006207 0.009175 0.007305 0.007114 0.009334 0.022625 0.01452
 0.006629 0.00733  0.032561 0.00496  0.072508 0.009657 0.02461  0.003069
 0.020246 0.018209 0.009549 0.007274 0.002134 0.010276 0.003813 0.003818
 0.00712  0.0105   0.010147 0.010643 0.008866 0.00702  0.002506 0.005313
 0.006233 0.008474 0.005144 0.011657 0.008625 0.014464 0.004849 0.006008
 0.00963  0.005002 0.006852 0.011703 0.006305 0.010556 0.00823  0.006671
 0.002042 0.005084 0.008068 0.001333 0.001417 0.001276 0.000938 0.000533]
[ -9461 -16765 -19046 ...  -7948  -7958  -7779]
[  -637  -1188   -225 ...  -9209  -6613 -10791]
[ -3648.  -1186.  -4260. ... -15528. -15246. -12184.]
[-2120  -291 -2531 ... -6255 -6247 -5670]
[nan 26. 17.  8. 23.  7. 14.  1.  3. 13. 10.  2. 21. 20. 22. 65.  5. 11.
  9.  4. 15. 12. 25.  6. 64.  0. 27. 19. 28. 18. 16. 30. 36. 24. 39. 29.
 40. 41. 31. 42. 37. 35. 34. 33. 54. 38. 32. 43. 55. 49. 44. 63. 46. 45.
 48. 56. 51. 57. 69. 50.]
[1 0]
[1 0]
[0 1]
[1 0]
[1 0]
[0 1]
['Laborers' 'Core staff' 'Accountants' 'Managers' nan 'Drivers'
 'Sales staff' 'Cleaning staff' 'Cooking staff' 'Private service staff'
 'Medicine staff' 'Security staff' 'High skill tech staff'
 'Waiters/barmen staff' 'Low-skill Laborers' 'Realty agents' 'Secretaries'
 'IT staff' 'HR staff']
[ 1.  2.  3.  4.  5.  6.  9.  7.  8. 10. 13. nan 14. 12. 20. 15. 16.]
[2 1 3]
[2 1 3]
['WEDNESDAY' 'MONDAY' 'THURSDAY' 'SUNDAY' 'SATURDAY' 'FRIDAY' 'TUESDAY']
[10 11  9 17 16 14  8 15  7 13  6 12 19  3 18 21  4  5 20 22  1  2 23  0]
[0 1]
[0 1]
[0 1]
[ 0.  1. nan]
[ 0.  1. nan]
[ 0.  1. nan]
['Business Entity Type 3' 'School' 'Government' 'Religion' 'Other' 'XNA'
 'Electricity' 'Medicine' 'Business Entity Type 2' 'Self-employed'
 'Transport: type 2' 'Construction' 'Housing' 'Kindergarten'
 'Trade: type 7' 'Industry: type 11' 'Military' 'Services'
 'Security Ministries' 'Transport: type 4' 'Industry: type 1' 'Emergency'
 'Security' 'Trade: type 2' 'University' 'Transport: type 3' 'Police'
 'Business Entity Type 1' 'Postal' 'Industry: type 4' 'Agriculture'
 'Restaurant' 'Culture' 'Hotel' 'Industry: type 7' 'Trade: type 3'
 'Industry: type 3' 'Bank' 'Industry: type 9' 'Insurance' 'Trade: type 6'
 'Industry: type 2' 'Transport: type 1' 'Industry: type 12' 'Mobile'
 'Trade: type 1' 'Industry: type 5' 'Industry: type 10' 'Legal Services'
 'Advertising' 'Trade: type 5' 'Cleaning' 'Industry: type 13'
 'Trade: type 4' 'Telecom' 'Industry: type 8' 'Realtor' 'Industry: type 6'
 nan]
[0.08303697 0.31126731        nan ... 0.73973205 0.26021613 0.65833748]
[0.26294859 0.62224578 0.55591208 ... 0.67423683 0.75261505 0.43009294]
[1.39375780e-01            nan 7.29566691e-01 6.21226338e-01
 4.92060094e-01 5.40654450e-01 7.51723715e-01 3.63945239e-01
 6.52896552e-01 1.76652579e-01 7.70087070e-01 6.78567689e-01
 6.21030378e-02 5.56727426e-01 4.77649155e-01 5.42445144e-01
 3.58951229e-01 6.69056695e-01 5.65607981e-01 4.61482391e-01
 1.90705948e-01 6.59405532e-01 5.24496446e-01 4.10102573e-01
 7.98137231e-01 4.11848556e-01 7.54406173e-01 7.22392890e-01
 6.05836265e-01 3.20163367e-01 3.99675616e-01 6.84827659e-01
 4.75849909e-01 7.28141299e-01 4.66864006e-01 4.79448981e-01
 3.09275356e-01 7.99296783e-01 7.01695774e-01 7.38019620e-01
 7.01088438e-02 1.69428727e-01 5.13693766e-01 7.07699345e-01
 3.39287700e-01 6.97146908e-01 4.34733249e-01 2.34015167e-01
 9.50703958e-02 5.62060483e-01 4.29423684e-01 4.13596760e-01
 8.32785025e-01 3.94495405e-01 5.97192427e-01 6.94092643e-01
 1.98620045e-01 1.91821602e-01 4.08358853e-01 5.35276250e-01
 4.52533559e-01 7.20944150e-01 6.44679455e-01 3.42528872e-01
 8.24594971e-01 5.11891802e-01 6.41368257e-01 3.28063161e-01
 2.28883417e-01 7.74985465e-02 7.89880347e-01 2.65049430e-01
 7.10551247e-02 1.21408286e-01 5.81483706e-01 4.06617437e-01
 6.73830078e-01 5.54946769e-01 5.74446617e-01 1.20641030e-01
 5.72682505e-01 9.63186928e-02 6.83268831e-01 7.39411754e-01
 7.55740050e-01 2.11550764e-01 9.20128094e-02 7.49021705e-01
 3.53987608e-01 7.46300213e-01 2.89611238e-01 3.17031779e-01
 2.32724776e-01 8.12822607e-01 1.56639827e-01 1.61463080e-01
 3.29655054e-01 8.16092360e-01 5.95456203e-01 4.17099668e-01
 6.75413291e-01 4.43615308e-01 4.20610964e-01 7.95803133e-01
 7.71361592e-01 5.19097338e-01 5.46023197e-01 7.88680775e-01
 5.22697317e-01 5.08286991e-01 1.92942228e-01 3.03146374e-01
 6.39707568e-01 2.76440695e-01 3.50695843e-01 2.69285800e-01
 5.44234741e-01 5.49596502e-01 5.93717587e-01 7.06205110e-01
 5.06484240e-01 7.44932185e-01 3.07736696e-01 4.27657370e-01
 3.37672722e-01 6.07557300e-01 7.36622698e-01 3.44155007e-01
 6.34705531e-01 2.97086612e-01 4.25892898e-01 7.59712182e-01
 1.80887978e-01 6.09275667e-01 7.16570245e-01 2.18859082e-01
 2.17628520e-01 6.54529280e-01 1.30947153e-01 3.80799683e-01
 4.54321060e-01 7.42181612e-01 2.43186480e-01 1.96333966e-01
 4.56109739e-01 7.30987370e-01 3.79100485e-01 5.20897599e-01
 2.70707387e-01 6.95621930e-01 7.13631400e-01 6.31354537e-01
 2.25086862e-01 4.48962273e-01 7.50375150e-01 1.83035167e-01
 8.00451340e-01 5.28092751e-01 6.22922000e-01 7.58393062e-01
 2.37916080e-01 3.31250865e-01 6.12704244e-01 4.63275328e-01
 5.88487788e-01 3.15472155e-01 2.00926088e-01 5.16817674e-02
 4.97468889e-01 4.38281374e-01 6.64248263e-01 4.95665829e-01
 6.89479143e-01 5.77969119e-01 2.10350229e-01 6.38043528e-01
 7.35220999e-01 6.29674251e-01 2.60855914e-01 4.70456116e-01
 7.78904039e-01 1.73527430e-01 5.37069958e-01 5.17296581e-01
 6.72242890e-01 6.00657537e-01 7.86266615e-01 2.63646813e-01
 4.31191798e-01 4.65069215e-01 3.06202298e-01 3.77404249e-01
 5.51381262e-01 6.57783800e-01 6.92559067e-01 7.40799088e-01
 1.15386662e-01 7.19490785e-01 8.02745476e-01 4.86653157e-01
 3.40906426e-01 2.23831317e-01 6.51260219e-01 7.12155155e-01
 3.84206813e-01 3.55638717e-01 3.89338792e-01 7.10674386e-01
 9.02209393e-02 5.27265239e-04 7.33814537e-01 7.85052026e-01
 3.87625344e-01 6.80138822e-01 6.36376171e-01 6.51096140e-02
 6.65854922e-01 6.81705878e-01 7.03203305e-01 1.87388765e-01
 6.62637792e-01 2.56705572e-01 6.33031641e-01 7.00183851e-01
 7.67523105e-01 3.74020803e-01 7.90596960e-02 7.75155267e-01
 6.98667555e-01 6.76992503e-01 3.49055251e-01 7.82607837e-01
 2.75000352e-01 2.66456808e-01 6.56158373e-01 5.86740009e-01
 5.33481630e-01 1.26100559e-01 3.85914672e-01 6.27990819e-01
 3.72333666e-01 3.96219572e-01 9.32250954e-02 7.73895694e-01
 1.44648146e-01 3.91054977e-01 2.83711883e-01 2.15182404e-01
 2.73564678e-01 5.29889834e-01 9.88592804e-02 2.52598698e-01
 4.01407414e-01 6.19527708e-01 7.66233670e-01 8.27702668e-01
 3.13916677e-01 5.98926218e-01 7.63639921e-01 3.70649632e-01
 5.34780874e-02 6.02386344e-01 1.50085176e-01 3.32850564e-01
 4.32961667e-01 6.70651753e-01 6.26304277e-01 5.63835049e-01
 5.15495375e-01 6.14414378e-01 6.43025564e-01 4.50747282e-01
 3.75711010e-01 2.88129600e-01 1.64414179e-01 6.10991328e-01
 1.47345918e-01 6.61023539e-01 4.83050188e-01 5.04681319e-01
 7.47663390e-01 7.72631135e-01 7.93449030e-01 1.88489534e-01
 5.47810466e-01 4.88455184e-01 8.34784159e-01 2.09154699e-01
 1.41991543e-01 8.10618022e-01 6.46329898e-01 3.26475210e-01
 6.16121691e-01 4.57899551e-01 8.21443313e-01 1.36800522e-01
 5.70916542e-01 3.97946322e-01 2.82248434e-01 4.93862882e-01
 5.60284328e-01 5.53164699e-01 1.26897526e-01 1.60488931e-01
 3.12365369e-01 5.67379237e-01 4.74051289e-01 5.01075160e-01
 7.24966768e-02 4.40057830e-01 4.24130311e-01 9.69483171e-02
 8.65895915e-01 4.99272015e-01 1.97474512e-01 4.45396242e-01
 1.25307878e-01 6.17826147e-01 1.74564266e-01 7.09189110e-01
 3.21735282e-01 2.26347396e-01 7.61026370e-01 3.45784802e-01
 1.67408447e-01 6.04112600e-01 5.83237926e-01 1.84116156e-01
 8.63363382e-01 7.92264474e-01 1.19877961e-01 5.76208836e-01
 8.03885061e-01 2.22580765e-01 3.65616507e-01 8.19317692e-01
 5.90233339e-01 5.38862707e-01 5.88259005e-02 8.35776516e-01
 3.68968738e-01 7.18032811e-01 4.68659655e-01 1.57594999e-01
 2.13966852e-01 1.30128543e-01 6.91021227e-01 5.20364071e-02
 1.35106016e-01 2.95582642e-01 1.45542813e-01 3.18595524e-01
 1.24519471e-01 7.62335618e-01 2.04422625e-01 5.26294940e-01
 7.80143638e-01 1.11756371e-01 5.31686143e-01 9.14119938e-02
 4.59690450e-01 4.84851475e-01 5.69148771e-01 8.59924176e-01
 6.49620311e-01 8.07273923e-01 7.64735192e-02 4.81249341e-01
 6.24614658e-01 7.15326763e-02 5.58506628e-01 2.30158897e-01
 1.53802586e-01 1.23735322e-01 8.05019662e-01 6.86382335e-01
 4.36506499e-01 5.10089528e-01 4.90257512e-01 1.41115100e-01
 1.03449052e-01 2.91097380e-01 4.22369652e-01 7.04706423e-01
 8.20382959e-01 8.06149281e-01 1.06155623e-01 1.85202082e-01
 2.27612915e-01 8.06495443e-02 2.85179905e-01 2.41861487e-01
 3.82501804e-01 7.39651461e-02 3.10818254e-01 1.37654462e-01
 6.04436913e-02 4.18854289e-01 2.55331771e-01 8.18247508e-01
 2.36610824e-01 1.05473186e-01 8.48244300e-01 2.79335321e-01
 8.28728832e-01 4.41835823e-01 9.26171714e-02 6.87932838e-01
 1.46442067e-01 2.48535557e-01 2.16402961e-01 2.03252114e-01
 7.68807573e-01 5.84990040e-01 6.47976860e-01 4.72253343e-01
 1.00151820e-01 5.91976618e-01 4.03141677e-01 8.33641977e-02
 2.98594990e-01 3.34454126e-01 1.52866229e-01 1.22955418e-01
 3.36061521e-01 8.43543539e-01 6.67457742e-01 1.51934549e-01
 3.01624892e-01 1.99770570e-01 2.49885063e-01 2.31439351e-01
 8.13917470e-01 1.40243184e-01 5.02878277e-01 2.40541417e-01
 1.59519540e-01 2.06778654e-01 7.25276435e-01 1.95198406e-01
 2.58084204e-01 1.27698794e-01 7.94628583e-01 2.53962809e-01
 1.43758053e-01 7.23836990e-01 8.61652750e-01 3.47418227e-01
 3.00107757e-01 1.35951044e-01 6.82511545e-02 3.60612566e-01
 7.76409851e-01 1.79821765e-01 2.47190938e-01 3.92773861e-01
 8.08393591e-01 1.11042402e-01 1.78760465e-01 4.47178578e-01
 7.15103102e-01 4.04878364e-01 3.57293268e-01 2.62248971e-01
 1.17613732e-01 9.56927242e-02 5.79727423e-01 2.21335206e-01
 3.62277247e-01 1.68416171e-01 7.83832434e-01 5.49573941e-02
 8.56412800e-01 2.67868936e-01 3.67291018e-01 7.32403323e-01
 1.72495467e-01 2.86652483e-01 2.80789574e-01 3.52339973e-01
 1.81959110e-01 1.00803706e-01 8.50326149e-02 2.35310517e-01
 1.55689375e-01 2.12756305e-01 1.34265424e-01 1.58554900e-01
 8.62510303e-01 3.04672184e-01 1.32597495e-01 6.77939106e-02
 7.53067392e-01 2.30618111e-02 3.23311245e-01 1.48254379e-01
 4.14716966e-02 1.14652494e-01 2.72133684e-01 2.94083101e-01
 8.73042707e-02 2.07964174e-01 1.04119916e-01 1.29314289e-01

In [15]:
##Find how many nan values in each column
df.isna().sum()

TARGET                           0
NAME_CONTRACT_TYPE               0
CODE_GENDER                      0
FLAG_OWN_CAR                     0
FLAG_OWN_REALTY                  0
                              ...
AMT_REQ_CREDIT_BUREAU_DAY     6002
AMT_REQ_CREDIT_BUREAU_WEEK    6002
AMT_REQ_CREDIT_BUREAU_MON     6002
AMT_REQ_CREDIT_BUREAU_QRT     6002
AMT_REQ_CREDIT_BUREAU_YEAR    6002
Length: 121, dtype: int64

In [16]:
# Preprocessing for each column differently according to the nan values in each column
df_with_0=df.fillna(0)
df_with_0

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151719,0,Cash loans,M,N,Y,0,40500.0,242595.0,13288.5,202500.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
151720,0,Cash loans,F,N,Y,0,67500.0,188685.0,10363.5,157500.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
151721,0,Cash loans,F,N,Y,0,189000.0,254700.0,16276.5,225000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
151722,0,Cash loans,F,Y,Y,1,202500.0,254700.0,25321.5,225000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
151723,0,Cash loans,F,N,Y,0,126000.0,302076.0,22716.0,270000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
df_with_mean=df[column].fillna(df[column].mean(), inplace=True)

df_with_mean

In [ ]:
df

In [ ]:
df[column].fillna(df[column].mode()[:0:len(df)])

In [ ]:
df

In [ ]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
X = df.iloc[:,:-1].values
y = df.iloc[:,-1].values

In [ ]:
from sklearn.impute import SimpleImputer
# sklearn.impute.SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

imputer.fit(X[:,12:17])
X[:,12:17]= imputer.transform(X[:,12:17])

1) Find all categorical variables

2) Find Count of instances in 0 and 1 class

3) Find % of instances in 0 and 1 class

4) Bar chart for both 2nd and 3rd

5) Find unique values in each column

6) Find how many nan values in each column

7) Preprocessing for each column differently according to the nan values in each column