<a href="https://colab.research.google.com/github/grgfatta86/Exercise/blob/main/For_loop__practices_may8_9_10_11%2C15_fatta.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# For loop are use for if you know there is start and end.
# Data ise when there is definite condition and length then you can run the for loop.
# For loops are use when definite condition you know like 10th times, 20 times. then you use loop.

In [ ]:
#start, stop, step.
#stop-1
for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [ ]:
#Nested loop
for i in range(1,5,1):
  for j in range(i*2):
    print(j)
  print("============="+str(i)+"=========")

0
1
=============1=========
0
1
2
3
=============2=========
0
1
2
3
4
5
=============3=========
0
1
2
3
4
5
6
7
=============4=========

In [ ]:
# 1) check if a number is prime or not?
n=9
#2,3,4,5..(n//2=4.5=5)
flag=True
if n <=1:
  print(str(n)+" is a prime number")
## n//2 sure tesko half le divisible bhayo bhane not a prime number

for i in range(2, n//2):
  if n%i == 0:
    flage=False
  if flag:
    print("Prime Number")
  else:
    print("Not A Prime Number")

Prime Number
Prime Number

In [ ]:
n =13

x=True

for i in range(2, n):
  if n%i==0:
    x=False

if x==True:
    print("Prime Number")
else:
    print("Not Prime")

Prime Number

In [ ]:
# 2) print all prime numbers till a given range suppose n=11 3,5,7

In [ ]:
n=11
# 2,3,4,5,6,7,8,9,10
## checking if the number is prime or not
for num in range(2, n):
  for i in range(2, num):
    if (num%i) ==0:
        break

  else:
    print(str(num)+" is a prime number")

2 is a prime number
3 is a prime number
5 is a prime number
7 is a prime number

In [ ]:
n=10
# 2,3,4,5,6,7,8,9,10
## checking if the number is prime or not
for i in range(2, n):
  for j in range(2, i):
    if (i%j) ==0:
        break

  else:
    print(str(i)+" is a prime number")

2 is a prime number
3 is a prime number
5 is a prime number
7 is a prime number

In [ ]:
## Calculate the sum of all numbers from 1 to a given number
n=5
b=0
for i in range(1, n+1): # (1, 5+1), 1,2,3,4,5
  b=b+i ## 0=0+1, 1=1+2, 3=3+3, 6=6+4, 10=10+5, 15
print(b)

15

In [ ]:
n=20
sum=0
for i in range(1, n+1):
  sum=sum+i
print(sum)

210

In [ ]:
# count total number of digits ina number
# method: loop (works for negative floats too)
n=str(input("enter number"))
count=0

for i in n: # n is a string, loop iterates through each element in the string
  if i.isdigit(): #isdigit() checks if each subscript in a string is digit or not
    count=count+1
print("the number of digit is:", count)

enter number456678
the number of digit is: 6

In [ ]:
n=str(input("enter number"))
count=0

for i in n:
  if i.isdigit():
    count=count+1
print("the number of digit is:", count)

enter number6998798798
the number of digit is: 10

In [ ]:
x=455
counter =1

for i in range(0, x):
  if x//10>0:
    counter=counter+1
    x = x//10
  else:
    break
print("The number is " + str(counter) + "digits long.")

The number is 3digits long.

In [ ]:
x=220020
counter=1

for i in range(0,x):
  if x//10>0:
    print('Before changing', counter)
    counter+=1
    x/=10
    print('After', counter)

Before changing 1
After 2
Before changing 2
After 3
Before changing 3
After 4
Before changing 4
After 5
Before changing 5
After 6

In [ ]:
## reverse a given interger number
num = input('Enter any number : ')
try:
    val = int(num)
    print('Reverse of the given number is : ', str(num)[::-1])
except ValueError:
    print("That's not a valid number!")

Enter any number : 58687987
Reverse of the given number is :  78978685

In [ ]:
n=1263545
num=str(n)
b=(num[::-1])
print(b)

5453621

In [ ]:
a=839467162571
b=str(a)
c=(b[::-1])
print(c)

175261764938

In [ ]:
n=int(input("Enter the number: "))
rev_num = str(n)[::-1]
print(rev_num)

Enter the number: 87679789
98797678

In [ ]:
num=int(input("Enter the number: "))
rev_num=str(num)[::-1]
print(rev_num)

Enter the number: 3543534
4353453

In [ ]:
cube=0
for i in range(1,9):
  print(i, end=' ')
  cube = i*i*i
  print(cube)

1 1
2 8
3 27
4 64
5 125
6 216
7 343
8 512

In [ ]:
cube=0
for i in range(1,9):
  print(i, end=' ')
  cube = i*i*i
  print("***", i, "=", cube)

1 *** 1 = 1
2 *** 2 = 8
3 *** 3 = 27
4 *** 4 = 64
5 *** 5 = 125
6 *** 6 = 216
7 *** 7 = 343
8 *** 8 = 512

In [ ]:
##For loop is where we know how much steps we have to move. if we know how much we have to move steps then use for loop. there is fixed steps
## But there are no difinite step but only a condition thats need to meet then use while loops.

In [ ]:
a=5
while a>0: ## condition you have passing to it.
  print("value of a in this iteration is", a)
  a=a-1 ## whatever condition you are passing should be manupulated inside the loop itself.
  print("Hey")

value of a in this iteration is 5
Hey
value of a in this iteration is 4
Hey
value of a in this iteration is 3
Hey
value of a in this iteration is 2
Hey
value of a in this iteration is 1
Hey

In [ ]:
a=5
while a>=0:
  print("value of a in this iteration is", a)
  if a==2:
    break
  else:
    print(a) ## it tells a==2 condn not met yet so go aging up
  a=a-1

  ## 1st iteration 5 a=a-1 a=4 now
  ## 2nd iteration 4 a=a-1 a=3 now
  ## 3nd iteration 4 a=a-1 a=3 now

value of a in this iteration is 5
5
value of a in this iteration is 4
4
value of a in this iteration is 3
3
value of a in this iteration is 2

In [ ]:
a=7
while a>=0:
  if a==2:
    break
  else:
    print(a)
  a=a-1

7
6
5
4
3

In [ ]:
a=5
while a>0:
  ## print("value of a in this iteration is", a)
  a=a-1
  if a==2:
    print("value of A was 2 here")
    continue
  else:
    print(a)

  ## continue falls back to while loop directly ignoring stuff below if a=a-1 not above if function.

4
3
value of A was 2 here
1
0

In [ ]:
str1="abcd"
for i in range(len(str1)): #0,4,1
  print(i)

0
1
2
3

In [ ]:
str1="abcd"
for i in range(len(str1)):
  print(str1[i])

a
b
c
d

In [ ]:
str2="abcdefgh"
for i in range(len(str2)):
  print(str2[i])

a
b
c
d
e
f
g
h

In [ ]:
str3="abjdkjd"
for i in range(len(str3)): ##give index
  print(i)

0
1
2
3
4
5
6

In [ ]:
str4="abcdef"
for k in str4: ## without using range function
  print(k)

a
b
c
d
e
f

In [ ]:
for k in ["abc","b","c",3]:
  print(k)

abc
b
c
3

In [ ]:
for k in ['azv','b','o',6]:
  print(k,end=" ")

azv b o 6

In [ ]:
## write a python program to count the number of characters(character frequency) in a string.
a="i leave in kathmandu"
for k in set(a):
  print("Frequency of "+str(k) + " is :-", a.count(k))

Frequency of v is :- 1
Frequency of k is :- 1
Frequency of d is :- 1
Frequency of e is :- 2
Frequency of t is :- 1
Frequency of h is :- 1
Frequency of   is :- 3
Frequency of n is :- 2
Frequency of m is :- 1
Frequency of l is :- 1
Frequency of u is :- 1
Frequency of i is :- 2
Frequency of a is :- 3

In [ ]:
a="hello world i hope everyone is doing well"
for k in set(a):
  print("Frequency of "+str(k) + " is :- ",a.count(k))

Frequency of v is :-  1
Frequency of d is :-  2
Frequency of w is :-  2
Frequency of e is :-  6
Frequency of o is :-  5
Frequency of r is :-  2
Frequency of h is :-  2
Frequency of p is :-  1
Frequency of   is :-  7
Frequency of y is :-  1
Frequency of n is :-  2
Frequency of g is :-  1
Frequency of l is :-  5
Frequency of s is :-  1
Frequency of i is :-  3

In [ ]:
a="hello world i hope everyone is doing well"
for k in set(a):
  freq=0
  for j in a:
    if k==j: ## if k==j then increase the frequency
      freq=freq+1
  print("Frequency of "+str(k) +"is :- ",freq)

Frequency of vis :-  1
Frequency of dis :-  2
Frequency of wis :-  2
Frequency of eis :-  6
Frequency of ois :-  5
Frequency of ris :-  2
Frequency of his :-  2
Frequency of pis :-  1
Frequency of  is :-  7
Frequency of yis :-  1
Frequency of nis :-  2
Frequency of gis :-  1
Frequency of lis :-  5
Frequency of sis :-  1
Frequency of iis :-  3

In [ ]:
a="hello world i hope everyone is doing well"
for k in set(a):
  print(k)
 # freq=0
  #for j in a:
   # if k==j:
      #freq=freq+1
  #print("Frequency of "+str(k) +"is :- ",freq)

v
d
w
e
o
r
h
p

y
n
g
l
s
i

In [ ]:
a="hello world i hope everyone is doing well"
for k in set(a):
  freq=0
  for j in a:
    print(j)
    #if k==j: ## if k==j then increase the frequency
      #freq=freq+1
  #print("Frequency of "+str(k) +"is :- ",freq)

h
e
l
l
o

w
o
r
l
d

i

h
o
p
e

e
v
e
r
y
o
n
e

i
s

d
o
i
n
g

w
e
l
l
h
e
l
l
o

w
o
r
l
d

i

h
o
p
e

e
v
e
r
y
o
n
e

i
s

d
o
i
n
g

w
e
l
l
h
e
l
l
o

w
o
r
l
d

i

h
o
p
e

e
v
e
r
y
o
n
e

i
s

d
o
i
n
g

w
e
l
l
h
e
l
l
o

w
o
r
l
d

i

h
o
p
e

e
v
e
r
y
o
n
e

i
s

d
o
i
n
g

w
e
l
l
h
e
l
l
o

w
o
r
l
d

i

h
o
p
e

e
v
e
r
y
o
n
e

i
s

d
o
i
n
g

w
e
l
l
h
e
l
l
o

w
o
r
l
d

i

h
o
p
e

e
v
e
r
y
o
n
e

i
s

d
o
i
n
g

w
e
l
l
h
e
l
l
o

w
o
r
l
d

i

h
o
p
e

e
v
e
r
y
o
n
e

i
s

d
o
i
n
g

w
e
l
l
h
e
l
l
o

w
o
r
l
d

i

h
o
p
e

e
v
e
r
y
o
n
e

i
s

d
o
i
n
g

w
e
l
l
h
e
l
l
o

w
o
r
l
d

i

h
o
p
e

e
v
e
r
y
o
n
e

i
s

d
o
i
n
g

w
e
l
l
h
e
l
l
o

w
o
r
l
d

i

h
o
p
e

e
v
e
r
y
o
n
e

i
s

d
o
i
n
g

w
e
l
l
h
e
l
l
o

w
o
r
l
d

i

h
o
p
e

e
v
e
r
y
o
n
e

i
s

d
o
i
n
g

w
e
l
l
h
e
l
l
o

w
o
r
l
d

i

h
o
p
e

e
v
e
r
y
o
n
e

i
s

d
o
i
n
g

w
e
l
l
h
e
l
l
o

w
o
r
l
d

i

h
o
p
e

e
v
e
r
y
o
n
e

i
s

d
o
i
n
g

w
e
l
l
h
e
l
l
o

w
o
r
l
d

i

h
o
p
e

e
v
e
r
y
o
n
e

i
s

d
o
i
n
g

w
e
l
l
h
e
l
l
o

w
o
r
l
d

i

h
o
p
e

e
v
e
r
y
o
n
e

i
s

d
o
i
n
g

w
e
l
l

In [ ]:
## Python program to convert lower letter to upper and upper to lower in a string.
a="I am From Nepal.Where Are you From."
if (a.isupper):
  print(a.lower())
if (a.islower):
  print(a.upper())

i am from nepal.where are you from.
I AM FROM NEPAL.WHERE ARE YOU FROM.

In [ ]:
a="I am From Nepal.Where Are you From."

print(a.lower())

print(a.upper())

i am from nepal.where are you from.
I AM FROM NEPAL.WHERE ARE YOU FROM.

In [ ]:
swapped_string= " "
name = "I am From Nepal.Where Are you From."
for k in name:
  if k.isupper():
    swapped_string=swapped_string+k.lower()
  else:
    swapped_string=swapped_string+k.upper()
print(swapped_string)

 i AM fROM nEPAL.wHERE aRE YOU fROM.

In [ ]:
swapped_string=""
name="RaMnAGaR bHUmahI"
for k in name:
  if k.isupper():
    swapped_string=swapped_string+k.lower()
  else:
    swapped_string=swapped_string+k.upper()
print(swapped_string)

rAmNagAr BhuMAHi

In [ ]:

a=[1,7,3,10,5,6]
a.sort()
print(a)

[1, 3, 5, 6, 7, 10]

In [ ]:
a=[1,7,3,10,5,6]
a.sort(reverse=True)
print(a)

[10, 7, 6, 5, 3, 1]

In [ ]:
## write a python program to sort letters of word by lower to upper case format.
## Sorted function print string into list
temp_str="Python Programming IS EASY IF you practise"
lower_str=""
upper_str=""
for k in temp_str:
  if k.islower():
    lower_str=lower_str+k
  else:
    upper_str=upper_str+k
lower_str=sorted(lower_str)
upper_str=sorted(upper_str)
print(lower_str+upper_str)
print("".join(lower_str+upper_str))

['a', 'a', 'c', 'e', 'g', 'g', 'h', 'i', 'i', 'm', 'm', 'n', 'n', 'o', 'o', 'o', 'p', 'r', 'r', 'r', 's', 't', 't', 'u', 'y', 'y', ' ', ' ', ' ', ' ', ' ', ' ', 'A', 'E', 'F', 'I', 'I', 'P', 'P', 'S', 'S', 'Y']
aacegghiimmnnoooprrrsttuyy      AEFIIPPSSY

In [ ]:
temp_str="Python Programming IS EASY IF you practise"
lower_str=""
upper_str=""
for k in temp_str:
  if k.islower():
    lower_str=lower_str+k
  else:
    upper_str=upper_str+k
lower_str=sorted(lower_str)
upper_str=sorted(upper_str)
print(lower_str+upper_str)
print("".join(lower_str+upper_str))

['a', 'a', 'c', 'e', 'g', 'g', 'h', 'i', 'i', 'm', 'm', 'n', 'n', 'o', 'o', 'o', 'p', 'r', 'r', 'r', 's', 't', 't', 'u', 'y', 'y', ' ', ' ', ' ', ' ', ' ', ' ', 'A', 'E', 'F', 'I', 'I', 'P', 'P', 'S', 'S', 'Y']
aacegghiimmnnoooprrrsttuyy      AEFIIPPSSY

In [ ]:
temp_str="Python Programming IS EASY IF you practise"
lower_str=[]
upper_str=[]
for k in temp_str:
  if k.islower():
    lower_str.append(k)
  else:
    upper_str.append(k)
lower_str.sort()
upper_str.sort()
print("".join(lower_str+upper_str))

aacegghiimmnnoooprrrsttuyy      AEFIIPPSSY

In [ ]:
dir("hello")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
## count upper, lower,number and spec count
lower_count=0
upper_count=0
number_count=0
spec_count=0

str1 ="ramnagar BHUMAHI 1256 $$$"
for i in str1:
  if i.islower():
    lower_count=lower_count+1
  elif i.isupper():
    upper_count=upper_count+1
  elif i.isnumeric():
    number_count=number_count+1
  else:
    spec_count=spec_count+1

print("lower cases is:-", lower_count)
print("lower cases is:-", upper_count)
print("lower cases is:-", number_count)
print("lower cases is:-", spec_count)

lower cases is:- 8
lower cases is:- 7
lower cases is:- 4
lower cases is:- 6

In [ ]:
##"Write a program in Python to remove an empty character from a list sequence". demo_list=['hello','1,'',bye]

demo_list=["hello",'1','','bye']
demo_list.remove('') ##if '' multiple time it doesnot work
print(demo_list)  ## pop remove by index , but remove remove by value.

['hello', '1', 'bye']

In [ ]:
demo_list=["hello",'1','','bye','','','']
new_list=[]
for k in demo_list:
  if len(k)>0:
    new_list.append(k)
print(new_list)

['hello', '1', 'bye']

In [ ]:
## find the file extension from the name of the file for example demofile.pdf

In [ ]:
name='excel.csv'
for i in name:
  if i=='.':
    index=name.index(i)
print(name[(index):len(name)])

.csv

In [ ]:
str = "demofile.pdf"
splt=str.split(".")
print("the extension is" ,splt[-1])

the extension is pdf

In [ ]:
## split function
text = 'digital marketing'
print(text.split())

['digital', 'marketing']

In [ ]:
word = 'digital, marketing'
print(word.split(','))

['digital', ' marketing']

In [ ]:
word = 'CutBatSitFatOr'
print(word.split('t'))

['Cu', 'Ba', 'Si', 'Fa', 'Or']

In [ ]:
word = 'digital. marketing'
print(word.split('.'))

['digital', ' marketing']

In [ ]:
word = 'digital:marketing'
print(word.split(':'))

['digital', 'marketing']

revision class 11 may

In [ ]:
## negative slicing
str_temp="Hello Python Good Morning!"
print(str_temp[::-1])
# positive indexing and negative slicing
print(str_temp[8::-1])
print(str_temp[8::-1])
print(str_temp[16:12:-1])
## Negative indexing and negative slicing
print(str_temp[-8::-1])
print(str_temp[-8::-2])
## negative indexing and positive slicing
print(str_temp[-8::1])
print(str_temp[-20::1])

!gninroM dooG nohtyP olleH
tyP olleH
tyP olleH
dooG
M dooG nohtyP olleH
Mdo otPolH
Morning!
Python Good Morning!

In [ ]:
for k in range(50):
  print(k)
  k=k+2 ## not manipulated here (scopping of variable)

In [ ]:
## Global variables
a=20
for k in range(50):
  a=a+2
print(a)

120

In [ ]:
for k in range(50):
  a=0
  a=a+2
print(a)

2

In [ ]:
a=12345
count=0
while a>0:
  a=a//10
  count=count+1
print(count)

5

In [ ]:
a=12345 # 5 iterations
## a=123 # 3 iterations
count=0
for i in range(len(str(a))):
  count=count+1
print(count)  ###

5

Nested Loops:
A nested loop is a loop within a loop, an inner loop within the body of an outer one. How this works is that the first pass of the outer loop triggers the inner loop, which executes to completion. Then the second pass of the outer loop triggers the inner loop again. This repeats until the outer loop finishes. Of course, a break within either the inner or outer loop would interrupt this process.

In [ ]:
## print all even numbers for range 7
for k in range(7):
  allnumbers=" "
  for j in range(k):  ## Basically nested loop are one loop wouldnot enough to solve the problem , you need another loop over the condition to get the solution.
    if j%2==0:
      allnumbers=allnumbers+" "+str(j)
  print("all even numbers smaller then " +str(k)+" :-", allnumbers)

all even numbers smaller then 0 :-
all even numbers smaller then 1 :-   0
all even numbers smaller then 2 :-   0
all even numbers smaller then 3 :-   0 2
all even numbers smaller then 4 :-   0 2
all even numbers smaller then 5 :-   0 2 4
all even numbers smaller then 6 :-   0 2 4

In [ ]:
a=[1,2,4,4,5,5,5,6,7,8,9,0] ## list work on indexing
print(set(a))

{0, 1, 2, 4, 5, 6, 7, 8, 9}

In [ ]:
a_str="jfjsdk flkjdjf oiiejiojioej  jfdjf " ## set is collection of unique values.
print(set(a_str))

{'d', 'o', 'e', 'l', 'i', 'j', 'f', 's', ' ', 'k'}

In [ ]:
dic={"Messi":91, "Ronaldo":200, "Neymar":50}
print(dic["Messi"]) ## dictionary work on keys:and value

91

In [ ]:
dic={"Messi":91, "Ronaldo":200, "Neymar":50}
print(dic[0])  ## dic not work on indexing

KeyError: ignored

In [ ]:
dic={"Messi":91, "Ronaldo":200, "Neymar":50,"Messi":191}
print(dic["Messi"]) ## in dict if there is similar value it always remove the previous one.

191

In [ ]:
dic={"Messi":91, "Ronaldo":200, "Neymar":50,"Messi":191}
print(dic["Messi"])

191

In [ ]:
for name,age in dic.items():
  print(name,age)

Messi 191
Ronaldo 200
Neymar 50

In [ ]:
for k in dic.keys():
  print(k)

for kk in dic.values():
  print(kk)

Messi
Ronaldo
Neymar
191
200
50

In [ ]:
bool1=bool(int(input("please enter the boolean value: ")))
print(type(bool1))
print(bool1)

please enter the boolean value: 8
<class 'bool'>
True

In [ ]:
bool1=bool(int(input("please enter the boolean value: ")))
print(type(bool1))
print(bool1)

please enter the boolean value: 0
<class 'bool'>
False

In [ ]:
bool1=bool((input("please enter the boolean value: ")))
print(type(bool1))
print(bool1) ## Here 0 is used as string

please enter the boolean value: 0
<class 'bool'>
True

In [ ]:
bool1=bool(input("please enter the boolean value: "))
print(type(bool1))
print(bool1) ## false also used as string

please enter the boolean value: false
<class 'bool'>
True

In [ ]:
dic={"Messi":input(), "Ronaldo":(), "Neymar":()}
print(dic)

99
{'Messi': '99', 'Ronaldo': (), 'Neymar': ()}

In [ ]:
dict_temp1=dict(name="sujan",age=12,job="data scientist")
print(dict_temp1)

{'name': 'sujan', 'age': 12, 'job': 'data scientist'}

In [ ]:
dict_temp1=dict(name="sujan",age=12,job="data scientist")
dict_temp1["Place"]="verginia"
print(dict_temp1)

{'name': 'sujan', 'age': 12, 'job': 'data scientist', 'Place': 'verginia'}

In [ ]:
dict_temp1=dict()
dict_temp1["Place"]="verginia"
print(dict_temp1)

{'Place': 'verginia'}

In [ ]:
str="hello python Programming"
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
str1="hello python Programming"
str1.capitalize()

'Hello python programming'

In [ ]:
str1.casefold()

'hello python programming'

In [ ]:
str1.lower()

'hello python programming'

In [ ]:
str="hello python Programming"
str.center(27,'$')

'$$hello python Programming$'

In [ ]:
str.count("h")

2

In [ ]:
str.endswith("ming")

True

In [ ]:
str.endswith("Ming")

False

In [ ]:
str.find("tho") ## it find starting index

8

In [ ]:
str.find("tho111") ## if not there show negetive

-1

In [ ]:
str.find("tho")

8

In [ ]:
str.index("tho")

8

In [ ]:
str.index("tho111") ## but in index show error . in find it shows -1

ValueError: ignored

In [ ]:
x=str.isupper()
print(x)

False

In [ ]:
x=str.isspace()
print(x)

False

In [ ]:
str1="hello python Programming"
str1.replace("python","bye")

'hello bye Programming'

In [ ]:
str1="hello python Programming"
str1.replace("Python","bye") ## IT WILL NOT REPLACE COZ P is not there it is p

'hello python Programming'

In [ ]:
str1="hello python Programming.pdf"
str1.split(".")

['hello python Programming', 'pdf']

In [ ]:
str1="hello python Programming"
str1.split(" ")

['hello', 'python', 'Programming']

In [ ]:
list2=[1,2,3,4,5,6,7]
list2.append(9)
list2

[1, 2, 3, 4, 5, 6, 7, 9]

In [ ]:
list2.append([9,8,7])
list2.extend([8,7,6])
list2

[1, 2, 3, 4, 5, 6, 7, 9, [9, 8, 7], 8, 7, 6]

In [ ]:
list2=[1,2,3,4,5,6,7]
list2_copy=list2.copy()
list2_copy_1=list2
list2.append(88)
print(list2_copy)
print(list2_copy_1)

[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 88]

In [ ]:
list2=[1,2,3,4,5,6,7]
list2.pop()

7

In [ ]:
list2=[1,2,3,4,5,6,7]
list2.pop()
print(list2)

[1, 2, 3, 4, 5, 6]

In [ ]:
list2=[1,2,3,4,5,6,7]
removed_value = list2.pop(2)
print(list2)
print(removed_value)

[1, 2, 4, 5, 6, 7]
3

In [ ]:
list2=[1,2,3,4,5,6,7]
list2.remove(4)
print(list2)

[1, 2, 3, 5, 6, 7]

In [ ]:
list2=[1,2,3,4,5,6,7,4]
list2.remove(4)
print(list2)

[1, 2, 3, 5, 6, 7, 4]

In [ ]:
list2=[1,2,3,4,5,6,7,4]
list2.sort()
print(list2)

[1, 2, 3, 4, 4, 5, 6, 7]

In [ ]:
list2=[1,2,3,4,5,6,7,4]
list2.sort(reverse=True)
print(list2)

[7, 6, 5, 4, 4, 3, 2, 1]

In [ ]:
list2=[1,2,3,4,5,6,7,4]
list2[::-1]

[4, 7, 6, 5, 4, 3, 2, 1]

Test Revision-may 12

In [ ]:
## write the function to calculate the area and circumference of circle

In [ ]:
def area_of_circle(radius):
  return 3.14*radius**2,2*3.14*radius
  radius=6
print("area and circumference of circle : ", area_of_circle(6))

area and circumference of circle :  (113.04, 37.68)

In [ ]:
def area_of_circle(radius):
  return 3.14*radius**2
def cirumference_of_circle(radius):
  return 2*3.12*radius
radius=10
print("area of circle:- ", area_of_circle(10))
print("circumference of circle:- ", cirumference_of_circle(10))

area of circle:-  314.0
circumference of circle:-  62.400000000000006

In [ ]:
## A certain print order cost $3.00 per copy for orders of less than 10 copies $1.25 for orders of 10-99 copies
## and 0.9 per copy for 100 copies or more.write a function that returns a total price for the order.

In [ ]:
copies=320
def cost_of_copies(copies):
  if copies<10:
    cost=3
  elif copies<100:
    cost=1.25
  elif copies>99:
    cost=.9
  return cost*copies
print("cost for " +str(copies)+":-", cost_of_copies(copies))

cost for 320:- 288.0

In [ ]:
copies=10
def cost_of_copies(copies):
  if copies<10:
    cost=3
  elif copies<100:
    cost=1.25
  elif copies>99:
    cost=.9
  return cost*copies
print("cost for "+str(copies)+":",cost_of_copies(copies))

cost for 10: 12.5

In [ ]:
## write a function that takes in a list of integers or floats and returns True if the list contains duplicates and false if the list does not contain duplicate. use a type hint to "enforce" tje correct type.

In [ ]:
list1=[1,2,3,4,2,1]

def check_duplicates(list_temp):
  for k in list1:
    temp_check=list_temp.copy()
    temp_check.remove(k)
    print("Removed list", temp_check)
    if k in temp_check:
      return True
  return False

print("check duplicates :-", check_duplicates(list1))

Removed list [2, 3, 4, 2, 1]
check duplicates :- True

In [ ]:
list1=[1,2,3]

def check_duplicates(list_temp):
  for k in list1:
    temp_check=list_temp.copy()
    temp_check.remove(k)
    print("Removed list", temp_check)
    if k in temp_check:
      return True
  return False

print("check duplicates :-", check_duplicates(list1))

Removed list [2, 3]
Removed list [1, 3]
Removed list [1, 2]
check duplicates :- False

In [ ]:
list1=[1,2,3]
def check_duplicates(list_temp):
  for k in range(len(list1)):
    print(list1[k+1:], list1[k])
    if list1[k] in list1[k+1:]:
      return True
  return False

print("Check Dublicates :- " , check_duplicates(list1))

[2, 3] 1
[3] 2
[] 3
Check Dublicates :-  False

In [ ]:
list1=[1,2,3,3,1]
def check_duplicates(list_temp):
  for k in range(len(list1)):
    print(list1[k+1:], list1[k])
    if list1[k] in list1[k+1:]:
      return True
  return False


print("Check Dublicates :- " , check_duplicates(list1))

[2, 3, 3, 1] 1
Check Dublicates :-  True

In [ ]:
## write a functions that takes in a string and returns the string with all the vowels.

In [ ]:
string_temp="Hello Python PrOgramming"

def check_vowels(string_temp):
  dem_string=""
  vowels="aeiou"
  for k in string_temp:
    if k.lower() in vowels:
      dem_string=dem_string+k
  return dem_string

print(check_vowels(string_temp))

eooOai

In [ ]:
string_temp="Hello Python PrOgramming"

def check_vowels(string_temp):
  dem_string=""
  vowels="aeiou"
  for k in string_temp:
    if k in vowels:
      dem_string=dem_string+k
  return dem_string

print(check_vowels(string_temp))

eooai

In [ ]:
## Using a loop(that is , without using a slice), write a function "reverse_list" and takes a lists as a input and return a copy of the list in which all the elements have been swapped(the first element with)

In [1]:
list_temp=[1,2,3,4,5,6,7]

def reverse_list(list_temp):
  reversed_list_val=[]
  length=len(list_temp)
  for p in range(length-1,-1,-1):
    reversed_list_val.append(list_temp[p])
  return reversed_list_val

print("Reversed List:- ",reverse_list(list_temp))

Reversed List:-  [7, 6, 5, 4, 3, 2, 1]

In [2]:
list_temp=[1,2,3,4,5,6,7]
def reverse_list(list_temp):
  return list_temp[::-1]
print("Reversed List:- ",reverse_list(list_temp))

Reversed List:-  [7, 6, 5, 4, 3, 2, 1]

In [3]:
list_temp=[1,2,3,4,5,6,7]

def reverse_list(list_temp):
  list_temp.reverse()
  return list_temp
print("Reversed List:- ",reverse_list(list_temp))

Reversed List:-  [7, 6, 5, 4, 3, 2, 1]

In [15]:
def is_prime(n):
  for i in range(2, n//2):
    if n%i==0:
      return False
  return True

def generate_twins(start, end):
  for i in range(start, end):
    if 1%2!=0:
      j= i+2
      if(is_prime(i) and is_prime(j)):
        print("Twin Pime number are :-", i, j)

generate_twins(3,1000)

Twin Pime number are :- 3 5
Twin Pime number are :- 5 7
Twin Pime number are :- 11 13
Twin Pime number are :- 17 19
Twin Pime number are :- 29 31
Twin Pime number are :- 41 43
Twin Pime number are :- 59 61
Twin Pime number are :- 71 73
Twin Pime number are :- 101 103
Twin Pime number are :- 107 109
Twin Pime number are :- 137 139
Twin Pime number are :- 149 151
Twin Pime number are :- 179 181
Twin Pime number are :- 191 193
Twin Pime number are :- 197 199
Twin Pime number are :- 227 229
Twin Pime number are :- 239 241
Twin Pime number are :- 269 271
Twin Pime number are :- 281 283
Twin Pime number are :- 311 313
Twin Pime number are :- 347 349
Twin Pime number are :- 419 421
Twin Pime number are :- 431 433
Twin Pime number are :- 461 463
Twin Pime number are :- 521 523
Twin Pime number are :- 569 571
Twin Pime number are :- 599 601
Twin Pime number are :- 617 619
Twin Pime number are :- 641 643
Twin Pime number are :- 659 661
Twin Pime number are :- 809 811
Twin Pime number are :- 821 823
Twin Pime number are :- 827 829
Twin Pime number are :- 857 859
Twin Pime number are :- 881 883